<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Edimsha.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Edimsha.Properties.Settings>
            <setting name="Lang" serializeAs="String">
                <value>en_En</value>
            </setting>
            <setting name="chkCleanListOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtEditorFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="txtEdimsha" serializeAs="String">
                <value />
            </setting>
            <setting name="chkAddOnReplace" serializeAs="String">
                <value>False</value>
            </setting>
        </Edimsha.Properties.Settings>
    </userSettings>
</configuration>